@inject IImageService imageService

<MudCard Class="mb-3">
    <MudCardHeader>
        <CardHeaderAvatar>
            @if (string.IsNullOrWhiteSpace(sourcePath))
            {
                <MudAvatar Color="MudBlazor.Color.Secondary">@BrowserFile.Name.First()</MudAvatar>
            }
            else
            {
                <MudAvatar>
                    <MudImage Src="@sourcePath"></MudImage>
                </MudAvatar>
            }
        </CardHeaderAvatar>
        <CardHeaderContent>
            <MudText Typo="Typo.body1">@BrowserFile.Name</MudText>
            <MudText Typo="Typo.body2">Size: @BrowserFile.Size bytes</MudText>
        </CardHeaderContent>
        <CardHeaderActions>
            <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="MudBlazor.Color.Default" />
        </CardHeaderActions>
    </MudCardHeader>
    @if (string.IsNullOrWhiteSpace(sourcePath))
    {
        <MudCardMedia Image="images/pilars.jpg" Height="250" />
    }
    else
    {
        <MudCardMedia Image="@sourcePath" Height="250" />
    }
    <MudCardContent>
        <MudText Typo="Typo.body2">Last modified @BrowserFile.LastModified</MudText>
    </MudCardContent>
    <div class="p-2">
        <MudSelect Label="Convert to:" @bind-Value="selectedExtension" Class="mud-input-root text-start">
            @foreach (var e in pictureExtensions)
            {
                <MudSelectItem Value="@e">@e</MudSelectItem>
            }
        </MudSelect>
    </div>
    <MudCardActions>
        @if (isConverted)
        {
            <MudButton Variant="Variant.Text" Color="MudBlazor.Color.Secondary" OnClick="DownloadImage">
                Download
            </MudButton>
        }
        else
        {
            <MudButton Variant="Variant.Text" Color="MudBlazor.Color.Primary" OnClick="ConvertImage">
                Convert
            </MudButton>
        }
    </MudCardActions>
</MudCard>

@code {
    [Parameter]
    [EditorRequired]
    public IBrowserFile BrowserFile { get; set; }

    [Parameter]
    [EditorRequired]
    public bool IsDownloadFolder { get; set; }

    private long maxFileSize = 1024 * 1024 * 50; // represents 50MB
    private string selectedExtension = ".png";
    private string sourcePath = "";
    private bool isConverted = false;
    private MemoryStream convertedFile;
    private List<string> pictureExtensions = new();

    protected override async Task OnInitializedAsync()
    {
        await LoadThumbnailFile();
        pictureExtensions = imageService.GetPictureFormats();
    }

    protected override async Task OnParametersSetAsync()
    {
        await LoadThumbnailFile();
    }

    private async Task LoadThumbnailFile()
    {
        using var stream = BrowserFile.OpenReadStream(maxFileSize);
        using var memoryStream = new MemoryStream();
        await stream.CopyToAsync(memoryStream);
        byte[] bytes = memoryStream.ToArray();
        string base64Image = $"data:{BrowserFile.ContentType};base64,{Convert.ToBase64String(bytes)}";
        sourcePath = base64Image;
    }

    private async Task ConvertImage()
    {
        using (var stream = BrowserFile.OpenReadStream(maxFileSize))
        using (var image = await Image.LoadAsync(stream))
        using (var convertedStream = new MemoryStream())
        {
            await imageService.GetEncoderAsync(image, convertedStream, selectedExtension);
            convertedStream.Position = 0;

            convertedFile = new MemoryStream(convertedStream.ToArray());
        }

        isConverted = true;
    }

    private async Task DownloadImage()
    {
        string filePath = "";
        if (IsDownloadFolder)
        {
            filePath = imageService.GetDefaultDownloadPath(BrowserFile, selectedExtension);
        }
        else
        {
            filePath = imageService.GetPicturesDownloadPath(BrowserFile, selectedExtension);
        }

        using (var outputStream = new FileStream(filePath, FileMode.Create))
        {
            await convertedFile.CopyToAsync(outputStream);
        }

        isConverted = false;
    }
}
