@inject IImageService imageService
@inject IPathService pathService
@inject IDefaultDataService defaultDataService
@inject IDialogService dialogService

<MudCard Class="mb-3">
    <MudCardHeader>
        <CardHeaderAvatar>
            @if (string.IsNullOrWhiteSpace(sourcePath))
            {
                <MudAvatar Color="MudBlazor.Color.Secondary">@BrowserFile.Name.First()</MudAvatar>
            }
            else
            {
                <MudAvatar>
                    <MudImage Src="@sourcePath"></MudImage>
                </MudAvatar>
            }
        </CardHeaderAvatar>
        <CardHeaderContent>
            <MudText Typo="Typo.body1">@BrowserFile.Name</MudText>
            <MudText Typo="Typo.body2">Size: @BrowserFile.Size bytes</MudText>
        </CardHeaderContent>
        <CardHeaderActions>
            <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="MudBlazor.Color.Default" />
        </CardHeaderActions>
    </MudCardHeader>
    @if (string.IsNullOrWhiteSpace(sourcePath))
    {
        <MudCardMedia Image="images/pilars.jpg" Height="250" />
    }
    else
    {
        <MudCardMedia Image="@sourcePath" Height="250" />
    }
    <MudCardContent>
        <MudText Typo="Typo.body2">Last modified @BrowserFile.LastModified</MudText>
    </MudCardContent>
    <div class="p-2">
        <MudSelect Label="Convert to:" @bind-Value="selectedExtension" Class="mud-input-root text-start">
            @foreach (var e in pictureExtensions)
            {
                <MudSelectItem Value="@e">@e</MudSelectItem>
            }
        </MudSelect>
    </div>
    <MudCardActions>
        <MudButton 
            Variant="Variant.Text" 
            Color="MudBlazor.Color.Primary" 
            OnClick="ConvertAndDownload">
            Convert And Download
        </MudButton>
    </MudCardActions>
</MudCard>

@code {
    [Parameter]
    [EditorRequired]
    public IBrowserFile BrowserFile { get; set; }

    [Parameter]
    [EditorRequired]
    public string SelectedPath { get; set; }

    private IDialogReference dialogReference;
    private string selectedExtension = ".png";
    private string sourcePath = "";
    private List<string> pictureExtensions = new();

    protected override async Task OnInitializedAsync()
    {
        await LoadThumbnailFile();
        pictureExtensions = defaultDataService.GetPictureFormats();
    }

    protected override async Task OnParametersSetAsync()
    {
        await LoadThumbnailFile();
    }

    private async Task LoadThumbnailFile()
    {
        sourcePath = await imageService.LoadImageFileAsync(BrowserFile);
    }

    private async Task ConvertAndDownload()
    {
        await imageService.ConvertAndDownloadAsync(BrowserFile, SelectedPath, selectedExtension);
        OpenDialog($"Successfully downloaded {BrowserFile.Name}");
    }

    private void OpenDialog(string title)
    {
        var topCenter = new DialogOptions() { Position = DialogPosition.TopCenter, ClassBackground = "backdrop-blur" };
        dialogReference = dialogService.Show<Dialog>(title, topCenter);
    }
}
